body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: black;
  margin-bottom: 0px;
  padding: 30px 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 400px) {
  .navbar-header {
    position: relative;
  }

  .navbar img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
  }
}

.navbar-inverse .navbar-nav>li>a {
  color: #bbb;
}

.cbp-af-header-shrink {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
}

.fill-screen {
  background-size: cover;
  background-position: center;
}

.content-filler {
  min-height: 350px;
}

.down-button {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.down-button i {
  color: white;
}

.fixed-attachment {
  background-attachment: fixed;
}
@media (max-width: 1024px){
  .fixed-attachment {
    background-attachment: scroll;
  }
}

h3 {
  text-align: center;
}

footer  {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

aside {
  background-color: #999;
  text-align: center;
  padding-top: 40px;
}

section {
  background-color: lightgrey;
  text-align: center;
  padding-top: 40px;
}
